@use '@/src/styles/settings' as *;

.products {
    padding-bottom: 12.5rem;
    padding-top: 13.7rem;

    .title {
        font-size: 3.2rem;
        margin-bottom: 0.9rem;
    }

    .subtitle {
        color: $dark-gray;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.04rem;
        line-height: 3rem;
        margin-bottom: 5.72rem;
    }

    &__list {
        display: grid;
        gap: 2.5rem;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 4.22rem;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .pagination {
        margin-top: 17.7rem;

        @include mobile {
            margin-top: 7.5rem;
        }
    }
}